*

{margin:0 ;
padding: 0;
box-sizing: border-box;
font-family:'poppins', sans-serif;
}

#navbar{
    dispaly:flex;
    align-items: center;

}

#navbar {
    position: relative;
}
lebal.logo{
    color: white;
    font-size: 100px;
   
    font-weight: bold;
}
#navbar ul{
    float: none;
    margin-right: 100px;
    
}
#navbar::before{
    content:"";
    background-color:skyblue;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li{
    display: inline-block;
    list-style: none;
    font-size: 1.3rem;

}
#navbar ul li a{
    width: 100px;
    text-align: center;
    color: black;
    display :block;
    padding :3px 22px;
    border-radius: 20px;
    text-decoration: white;
    justify-items: center;

    
}
#navbar ul li a:hover{
    color: black;
    background-color: white;}