*

{margin:0 ;
padding: 0;
box-sizing: border-box;
font-family:'poppins', sans-serif;
}


#navbar{
    dispaly:flex;
    align-items: center;

}

#navbar {
    position: relative;
}
lebal.logo{
    color: white;
    font-size: 100px;
   
    font-weight: bold;
}
#navbar ul{
    float: none;
    margin-right: 100px;
    
}
#navbar::before{
    content:"";
    background-color:skyblue;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li{
    display: inline-block;
    list-style: none;
    font-size: 1.3rem;

}
#navbar ul li a{
    width: 100px;
    text-align: center;
    color: black;
    display :block;
    padding :3px 22px;
    border-radius: 20px;
    text-decoration: white;
    justify-items: center;

    
}
#navbar ul li a:hover{
    color: black;
    background-color: white;}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: skyblue;
    background-size: cover;
}
.body.div.h2{
    text-align: center;
}
.contact.content{
    max-width: 800px;
    text-align: center;
}
.contact.content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact.content p{
    font-weight: 300;
    color: #fff;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container.ContactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container.ContactInfo.box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container.ContactInfo.box.icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container.ContactInfo.box.text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:black;
    flex-direction: column;
    font-weight: 300;
}
.container.ContactInfo.box.text h3{
    font-weight: 500;
    color:skyblue;
}
.Contactform{
    width: 40%;
    padding: 40px;
    background: #fff;}
.Contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.Contactform.inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.Contactform.inputbox input,textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.Contactform.inputbox span{
    position:absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.Contactform.inputbox input :focus~span,
.Contactform.inputbox input:valid~span,
.Contactform.inputbox textarea:focus~span,
.Contactform.inputbox textarea:valid~span{
    color: #e9e9e9;
    font-size: 12px;
    transform: translateY(-20px);
}
.Contactform.inputbox input[type="Submit"]{
    width: 100px;
    background: #00bcd0;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
}